@media screen and (max-width: 1050px) { /*Mode mobile*/
    .menu{
        display: none;
    }

    .menu-mobile{
        display: flex;
        align-items: center;
    }

    .scroll{
        display: none;
    }

    .scroll-mobile{
        display: block;
    }

    header h1{
        font-size: 32px;
    }

    header{
        height: 90px;
    }

    #menu-toggle{
        border : none;
        background-color: white;
        margin: 5px;
    }

    #user{
        border : none;
        background-color: white;
        position: absolute;
        right: 20px;
    }
}
@media screen and (min-width: 1050px) { /*Mode ordinateur*/

    .menu{ /*Partie header*/
        display: flex;
        align-items: center;
    }

    .menu-mobile{
        display: none;
    }

    header{
        height: 116px;
        align-items: center;
        margin-left: 6%;
        margin-right: 6%;
    }

    header #left-part{
        font-size: 20px;
    }

    header #links{
        width: 429px;
        height: 48px;
        padding-left: 10%;
        display: flex;
        justify-content: space-between;
        color: #404040CC;
    }

    header #right-part{
        display: flex;
        align-items: center;
        position: absolute;
        right: 6%;
    }

    input{
        border: none;
    }

    input[value="Login"]{
        background-color: white;
        height: 46px;
        width: 78px;
        font-size: 16px;
        color: #96C67F;
        margin: 5px;
    }

    input[value="Register"]{
        background-color: #96C67F;
        height: 44px;
        width: 100px;
        color: white;
        margin: 5px;
        font-size: 16px;
        border-radius: 5px;
    }

    .scroll{ /*Partie scroll*/
        display: block;
        height: 523px;
        width: 1272px;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 100px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .scroll-mobile{
        display: none;
    }

    .rectangle1{
        width: 1272px;
        height: 322px;
        background-color: #F8F8F8;
        border-radius: 15px;
        position: relative;
    }

    .scroll h6{
        font-size: 160px;
        position: absolute;
        top: 0px;
        transform: translate(10%, -145%);
        color: #F8F8F8;
    }

    .paragraphe{
        width: 432px;
        display: block;
        position: absolute;
        transform: translate(20%, -125%);
    }

    .paragraphe h1{
        font-size: 60px;
    }

    [alt="image1"]{
        position: absolute;
        transform: translate(175%, -80%);
    }

    .instructor{
        position: absolute;
        transform: translate(230%, -90%);
        font-size: 20px;
        text-align: center;
        width: 262px;
        height: 187px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
        display: block;
        justify-content: center;
        align-items: center;
    }

    .instructor h4{
        padding-left: 20px;
        padding-right: 20px;
    }

    span{
        color:#96C67F;
    }

    .instructor img[alt="instructor1"]{
        position: absolute;
        transform: translate(-165%, -30%);
    }

    .instructor img[alt="instructor2"]{
        position: absolute;
        transform: translate(-105%, -30%);
    }

    .instructor img[alt="instructor3"]{
        position: absolute;
        transform: translate(-45%, -30%);
    }

    .instructor img[alt="instructor4"]{
        position: absolute;
        transform: translate(15%, -30%);
    }

    .instructor img[alt="instructor5"]{
        position: absolute;
        transform: translate(75%, -30%);
    }

    .students{
        position: absolute;
        transform: translate(830%, -70%);
        font-size: 20px;
        text-align: center;
        width: 129px;
        height: 146px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
        font-size: smaller;
        justify-content: space-between;
    }

    .students h4{
        margin-top: 7px;
        margin-bottom: -7px;
        color: #96C67F;
        font-size: 25px;
        position: relative;
    }

    .students img{
        margin-top: 15px;
    }

}

/*Mode Général*/

body {
    font-family: "Open-Sans", sans-serif;
}

header h5{
    color: #404040CC;
}